@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*::-webkit-scrollbar {
    width: 4px;
    background-color: black;
}

*::-webkit-scrollbar-thumb {
    background-color: #df7422;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Host Grotesk;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
}

#director {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
    font-weight: 800;
    font-size: 16px;
}

#director a {
    margin-bottom: 30px;
    color: gainsboro;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    
}

#director a:hover {
    border-bottom: 1px solid gainsboro;
}

.logo {
    width: 15%;
    position: absolute;
}

.logo img {
    margin: 25px;
}

.card-cont {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid black;
}

.img-sec {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid black;
}

.img-sec img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.4s;
}

.title {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    padding-bottom: 0px;
    margin: 10px 0;
}

.price {
    font-size: 14px;
    padding: 5px 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

h1 {
    margin-top: 50px;
    font-size: 40px;
    margin-left: 25px;
    font-weight: 800;
    font-family: montserrat;
    color: #df7422;
}

.capsule {
    font-weight: 600;
    padding: 10px;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    background: #b72635;
    color: white;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.colors-available {
    font-size: 12px;
    color: gray;
    padding: 0px 10px;

}

#sel-flex {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
    padding-top: 10px;
}

#sel-flex select {
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    cursor: pointer;
    padding: 9px;
    padding-left: 0px;
}

#sel-flex option {
    cursor: pointer;
    margin-top: 20px;
}

.card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden {
    display: none;
}

#select {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-weight: 700;
    padding: 20px;
    transition: all 0.3s;
}

#select:hover {
    background-color: rgb(245, 244, 244);
}

footer {
    background-color: black;
    color: white;
    padding: 40px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

footer .footer-section {
    flex: 1;
    margin: 10px;
}

footer .footer-section ul {
    list-style: none;
    padding: 0;
}

footer .footer-section ul li {
    margin-bottom: 8px;
}

footer .footer-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

footer .footer-logo {
    font-size: 24px;
    font-weight: bold;
}

footer .copyright {
    margin-top: 20px;
    flex-basis: 100%;
    font-size: 12px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    footer .footer-section {
        text-align: center;
    }
}

@media screen and (min-width:1500px) {
    main {
        max-width: 90%;
        margin: auto;
    }

    .footer-logo img {
        width: 320px;
    }
}

@media screen and (min-width:1800px) {
    main {
        max-width: 75%;
        margin: auto;
    }
}

@media screen and (min-width:2000px) {
    main {
        max-width: 65%;
        margin: auto;
    }
}

@media screen and (min-width:2300px) {
    main {
        max-width: 55%;
        margin: auto;
    }
}

@media screen and (min-width:2700px) {
    main {
        max-width: 50%;
        margin: auto;
    }
}

@media screen and (min-width:3000px) {
    main {
        max-width: 45%;
        margin: auto;
    }
}

@media screen and (max-width:450px) {
    .card {
        width: 195px;
    }
}

@media screen and (max-width:600px) {
    .hero-section {
        background-position: 58%;
    }

    .logo img {
        margin: 25px 10px;
        width: 40vw;
    }

    .capsule {
        font-size: 10px;
        padding: 7px;
    }

    .card {
        width: 175px;
    }

    .card-cont {
        margin-left: 20px;
    }

    .title {
        font-size: 13px;
    }

    .price {
        font-size: 11px;
    }

    .footer-section {
        text-align: center !important;
        font-size: 12px !important;
    }

    .footer-logo img {
        width: 190px;
    }
}

@media screen and (max-width:380px) {
    .card {
        width: 155px;
    }
}

@media screen and (min-width:690px) {
    .hero-section {
        background-position: center;
    }
}
